<div class="container centered d-flex">
  <div class="card m-auto">
    <div class="card-body">
      <h2>Professor Sign up</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :name %><br />
              <%= f.text_field :name, autocomplete: "name", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
              <% if @minimum_password_length %>
                <small id="passwordHelpInline">
                  <%= @minimum_password_length %> characters minimum
                </small>
              <% end %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"%>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :faculty %><br />
              <%= f.text_field :faculty, autocomplete: "faculty", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :position %><br />
              <%= f.text_field :position, autocomplete: "position", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :office %><br />
              <%= f.text_field :office, autocomplete: "office", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :phoneNumber %><br />
              <%= f.text_field :phoneNumber, autocomplete: "phoneNumber", class: "form-control" %>
            </div>
          </div>
        </div>
        <%= f.submit "Sign up", class: "btn btn-block btn-primary" %>
        <div class="form-group text-center">
          <small id="passwordHelpInline">
            Already have an account?
            <%= render "professors/shared/links" %>
          </small>
        </div>
      <% end %>
    </div>
  </div>
</div>
