<h1>All courses</h1>

<p><%= link_to  "Create new course", new_course_path %> </p>

<%= form_tag(courses_path, method: :get) do %>
  <%= text_field_tag :search, params[:search]%>
  <%= submit_tag 'Search' %>
<% end %>


<% @courses.each do |course| %>
  <p><%=course.code%></p>
  <p><%= link_to course.name, course_path(course)%></p>
  <p><%=course.instructor%></p>
  <p><%=course.period1 unless course.period1.nil? %></p>
  <p><%=course.period2 unless course.period2.nil?%></p>
  <p><%=course.venue%></p>
  <%= link_to  "Edit", edit_course_path(course)%>
  <%= link_to  "Delete", course_path(course), method: :delete, data: {confirm: "Are you sure?"} %>

  <%= link_to  "Add Course", add_course_student_path(current_student, course_code: "#{course.code}"), method: :post if student_signed_in? %>
  <%= link_to  "Teach Course", add_course_professor_path(current_professor, course_code: "#{course.code}"), method: :post if professor_signed_in? %>

<% end %>

<hr>

<div>
<h3>Import a CSV File</h3>
  <%= form_tag import_courses_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV", name: nil %>
  <% end %>
</div>
