<!-- JUMBOTRON -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Courses</h1>
    <p class="lead">List of all the offered courses for this semester.</p>
  

    <%= form_tag(courses_path, method: :get, class: "input-group md-form") do %>
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Course name or code" %>
      <%= submit_tag 'Search', name: nil, class: "btn btn-primary input-group-append" %>
    <% end %>
  </div>
</div>

<!-- ADMIN SECTION -->
<div class="container mb-5">
  <h4 class="mb-3">Import Courses</h4>
  <div class="row">
    <div class="col-md-10">
      <%= form_tag import_courses_path, multipart: true, class: "input-group" do %>
        <div class="input-group-prepend">
          <%= submit_tag "Import CSV", class: "btn btn-dark" %>
        </div>
        <div class="custom-file">
          <%= label_tag :file, "Choose a CSV file", class: "custom-file-label" %>
          <%= file_field_tag :file, class: "custom-file-input" %>
        </div>
      <% end %>
    </div>

    <div class="col-md-2 ">
      <%= button_to "Create new course", new_course_path, method: :get, class: "btn btn-primary" %>
    </div>
  </div>
</div>
</div>


<!-- COURSE LIST -->
<div class="container" style="max-width: 1600px">
  <div class="row">
    <%= render partial: 'course', collection: @courses %>
  </div>
</div>