<h1><%= @course.name %></h1>

<p><%= @course.code %></p>
<p><%=@course.instructor%></p>
<p><%=course.period1 unless course.period1.nil? %></p>
<p><%=course.period2 unless course.period2.nil?%></p>
<p><%=@course.venue%></p>
<%= link_to  "Edit", edit_course_path(@course)%>
<%= link_to  "Delete", course_path(@course), method: :delete, data: {confirm: "Are you sure?"} %>