<!DOCTYPE html>
<html>
  <head>
    <title>IUStudent</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>

    <hr>
    <%if pundit_user.is_a?(GuestUser) %>
      <%=(link_to  "Register", new_student_registration_path) +
      "<br>".html_safe +
      (link_to  "Login", new_student_session_path) %>
    <% else %>
      <%= link_to  "Student Logout", destroy_student_session_path, method: :delete if current_student%>
      <%= link_to  "Admin Logout", destroy_admin_session_path, method: :delete if current_admin%>
    <% end %>

    <%=current_admin.name if current_admin%>
    <%=current_student.name if current_student%>

  </body>
</html>
